# Environment variable file
.env

# Ignore node modules directory
node_modules/

# Ignore Python cache files
__pycache__/

# Ignore folders containing scraped sites and tweets
scraped_sites/
tweets/

# Ignore temporary tweets file
temp_tweets.json
